*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.navbar{
    background: #0C3F58;
   

}
.navbar-brand img{
    border-radius: 50%;
}
.nav-item a{
    color: white;
    font-weight: 700;
}
 /* end of navbar */

 /* start of second section */ 

 /*----------banner section------*/
.para{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
 }
 
#banner{
    background: #328488;
    color: #fff;
    
}
.promo-title{
    font-size: 28px;
    font-weight: 500;
    margin-top: 50px;
}

.play-btn{
    width: 100px;

}
.container{
    background: #0C3F58;
    padding-left: 80px;

}

#banner a{
    color: #fff;
    text-decoration: none;
}
.img-fluid{
    border-radius: 48%;
    margin-bottom: 0.5em;
}

/* end of banner */

/* projects */
.projects{
    width: 82%;
    margin: auto;
}
#services{
    padding: 80px 0;
    
    
}
.projects-link{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.services {
    padding: 20px;
}
.services h4{
    padding:5px;
    margin:25px;
    text-transform:uppercase;
} 

#services .btn-primary{
    box-shadow:none;
    padding:8px 20px;
    border: none;
    border-radius:50px;
}
#projects{
    border-radius: solid 2px white;
}

/* end of second section */

/* start of my skills section */
/* my skills */
.para{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
 }
 
#banner2{
    background: #0C3F58;
    color: #fff;
    
}

.wrapper{
    background: #328488;
    width: 85%;
    margin: auto;
    list-style: none;
    padding: 10px;
    
}

.skill {
    margin-bottom: 35px;
    position: relative;
        
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #0C3F58;
    bottom: 0;
    border-radius: 50px;
}
.skill-bar {
    width: 100%;
    height: 10px;
    background:#26db26;
    display: block;
    position: relative;
    border-radius: 50px;
}

/* SKILL 1 */
.skill1{
    width: 90%;
        
}
.skill-bar span{
    position: absolute;
    border-top: 5px solid #007BFF;
    top: -30px;
    padding: 0;
    font-size: 15px;
    padding: 2px 0;
    font-weight: 500;
    
}
.skill-bar {
    position: relative;
        
}

.skill1 .skill-count1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    width: 80%;
}

.skill2 .skill-count2 {
    right: 0;
}

/* Skill 3 */
.skill3{
    width: 60%
}

.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    width: 80%
    
}

.skill4 .skill-count4 {
    right: 0;
}


/* end of my skills section */

/*-------footer section----*/
#footer{
    margin-top: 20px;
    color: #fff;
    background:#328488 ;
}
.foot{
    width: 85%;
    margin: auto;
}
.footer-box{
 padding: 20px;
}
.icons ul{
   align-items: center;
   display: flex;
   flex-direction: row;
   display: flex;
   flex-direction: row;
   margin-left: 0;
   border: solid 2px white;
   width: 60%;
}
.icons ul li{
    list-style: none;
    justify-content: space-between;
    padding:10px ;
    
}

.footer-box .form-control{
 border: none;
 border-radius: 0;
 margin-top:25px;
 max-width: 250px;
}
.footer-box .btn-primary{
border: none;
border-radius: 0;
margin-top: 30px;
}
hr{
 background-color: #fff;

}
.copyright{
 margin-bottom: 0;
 padding-bottom: 20px;
 text-align: center;
}